<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Weryfikacja nieudana</title>
</head>
<body>
<main layout:fragment="content">
    <div class="main-page-container">
        <i class="fa-regular fa-face-frown fa-5x"></i>
        <br/>
        <br/>
        <p>Weryfikacja nieudana...</p>
        <br/>
        <br/>
        <p>Link aktwacyjny jest nieprawidłowy.</p>
        <p>Spróbuj jeszcze raz użyć przesłanego linku, a w przypadku niepowodzenia powtórz cały proces ponownie.</p>
        <br/>
        <br/>
        <a th:href="@{/}" href="/">>> STRONA GŁÓWNA <<</a>
    </div>
</main>
</body>
</html>