<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Formularz</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script th:src="@{/scripts/form-preview.js}" src="/scripts/form-preview.js"></script>
    <script th:src="@{/scripts/form-validation.js}" src="/scripts/form-validation.js"></script>
</head>
<body>
<main layout:fragment="content">
    <div class="main-page-container">
        <div class="necrology-form-preview-container">
            <div class="necrology-form-necrology-preview">
                <div class="necrology-form-necrology-box">
                    <div class="single-necrology-entry">
                        <p>
                            Z ogromnym smutkiem zawiadamiamy, że dnia <span class="form-preview-death-date"></span> roku,
                            w wieku <span class="form-preview-age"></span>
                            <span id="form-preview-female" style="display: none;"> odeszła Najdroższa</span>
                            <span id="form-preview-male" style="display: none;"> odszedł Najdroższy</span>
                        </p>
                    </div>
                    <div class="single-necrology-kinship">
                        <p class="form-preview-kinship"></p>
                    </div>
                    <div class="single-necrology-person">
                        <div class="single-necrology-late">
                            <p class="form-preview-crossAndLate" style="display: none;">
                                Ś.
                                <i class="fa-solid fa-cross fa-2x"></i>
                                P.
                            </p>
                        </div>
                        <div class="single-necrology-person-info">
                            <div class="single-necrology-person-photo">
                                <i id="form-preview-photo-i" class="fa-solid fa-ribbon fa-4x"></i>
                                <img id="form-preview-photo-img" src="#" alt="Zdjęcie zmarłej osoby" style="display: none"/>
                            </div>
                            <div class="single-necrology-name">
                                <p class="form-preview-name"></p>
                            </div>
                        </div>
                    </div>
                    <div class="single-necrology-title">
                        <p class="form-preview-title"></p>
                    </div>
                    <div class="single-necrology-place">
                        <p class="form-preview-place-of-funeral"></p>
                    </div>
                    <div class="single-necrology-info">
                        <p class="form-preview-funeral-details"></p>
                    </div>
                    <div class="single-necrology-additional">
                        <p class="form-preview-additional-info"></p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="section-title">
                <p>Formularz nekrologu</p>
                <hr>
            </div>
        </div>
        <div>
            <p>W celu weryfikacji należy kliknąć lub skopiować do przeglądarki link weryfikacyjny,
                który przyjdzie na podany na końcu formularza adres e-mail<span
                        class="asterisk">**</span>.</p>
            <p><span class="asterisk">**</span> Nie udostępniamy adresu e-mail innym podmiotom, wykorzystujemy go
                jedynie w celu weryfikacji.</p>
        </div>
        <div>
            <form th:action="@{/nekrolog/dodaj}" action="/nekrolog/dodaj" method="post" th:object="${necrology}" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label">
                        <span class="asterisk">*</span>Imię i nazwisko osoby zmarłej
                        <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Jan Kowalski">
                    </label>
                    <p th:errors="*{name}" class="error">Błędne imię lub nazwisko</p>
                    <p id="nameInfo">Maksymalna długość wynosi 77 znaków</p>
                </div>
                <div class="mb-3">
                    <label class="form-label">
                        <span class="asterisk">*</span>Data urodzenia
                        <input type="date" class="form-control" id="birthDate" th:field="*{birthDate}">
                    </label>
                    <p th:errors="*{birthDate}" class="error">Błędna data urodzenia</p>
                </div>
                <div class="mb-3">
                    <label class="form-label">
                        <span class="asterisk">*</span>Data śmierci
                        <input type="date" class="form-control" id="deathDate" th:field="*{deathDate}">
                    </label>
                    <p th:errors="*{deathDate}" class="error">Błędna data śmierci</p>
                </div>
                <div class="mb-3">
                    <label class="form-label">
                        Miejscowość urodzenia
                        <input type="text" class="form-control" id="placeOfOrigin" th:field="*{placeOfOrigin}" placeholder="Szczecin">
                    </label>
                </div>
                <div class="mb-3">
                    <label class="form-label">
                        Miejscowość uroczystości pogrzebowych
                        <input type="text" class="form-control" id="placeOfFuneral" th:field="*{placeOfFuneral}" placeholder="Warszawa">
                    </label>
                </div>
                <div class="mb-3">
                    <p>
                        <span class="asterisk">*</span>
                        Płeć osoby zmarłej
                    </p>
                    <div class="gender-container">
                        <div>
                            <input type="radio" class="form-check-control" th:field="*{gender}" value="FEMALE"
                                   id="female" onclick="change()">
                            <label class="form-label" for="female">Kobieta</label>
                        </div>
                        <div>
                            <input type="radio" class="form-check-control" th:field="*{gender}" value="MALE" id="male"
                                   onclick="change()">
                            <label class="form-label" for="male">Mężczyzna</label>
                        </div>
                    </div>
                    <p th:errors="*{gender}" class="error">Błędna opcja płci</p>
                </div>
                <div class="mb-3">
                    <label class="form-label">
                        Zdjęcie zmarłej osoby
                        <input type="file" class="form-control" id="pictureFile" th:field="*{pictureFile}" accept=".png, .jpeg, .jpg">
                    </label>
                </div>
                <div class="mb-3">
                    <label class="form-label">
                        Tytuły naukowe, zawód, zajęcie
                        <input type="text" class="form-control" id="title" th:field="*{title}"
                               placeholder="Kompoztor, filantrop, lekarz">
                    </label>
                    <p id="titleInfo">Maksymalna długość wynosi 115 znaków</p>
                </div>
                <div class="mb-3">
                    <label class="form-label">
                        Pokrewieństwo (zaznacz wiele z CTRL)
                        <select class="form-select mb-3" id="kinship" multiple="multiple" th:field="*{kinship}">
                            <option th:each="kin: ${kinshipList}" th:value="${kin.name}"
                                    th:text="${kin.plName}">
                                Kategoria
                            </option>
                        </select>
                    </label>
                </div>
                <div class="mb-3">
                    <label class="form-label">
                        Informacje o pogrzebie
                        <textarea class="form-control" id="funeralDetails" th:field="*{funeralDetails}" placeholder="Zacznij pisać..."></textarea>
                    </label>
                    <p id="funeralDetailsInfo">Maksymalna długość wynosi 382 znaków</p>
                </div>
                <div class="mb-3">
                    <label class="form-label">
                        Dodatkowe informacje (np. o stypie, życzenia rodziny co do przynoszenia kwiatów czy zniczy)
                        <textarea class="form-control" id="additionalInfo" th:field="*{additionalInfo}" placeholder="Zacznij pisać..."></textarea>
                    </label>
                    <p id="additionalInfoInfo">Maksymalna długość wynosi 200 znaków</p>
                </div>
                <div class="mb-3">
                    <label class="form-check-label">
                        Dodać krzyż i dopisek Ś.P.?
                        <input type="checkbox" class="form-check-input" id="addCrossAndLate" th:field="*{addCrossAndLate}">
                    </label>
                </div>
                <div class="mb-3">
                    <label class="form-check-label">
                        Usunąć automatycznie nekrolog po 14 dniach?
                        <input type="checkbox" class="form-check-input" th:field="*{removeAfter14Days}">
                    </label>
                </div>
                <div class="mb-3">
                    <label class="form-check-label">
                        <span class="asterisk">*</span>
                        Oświadczam, że jestem osobą uprawnioną do dodawania nekrologu zmarłego, zamieszczone dane są
                        prawdziwe oraz zapoznałem/-am się z Regulaminem serwisu
                        <input type="checkbox" class="form-check-input" th:field="*{acceptedTerms}">
                    </label>
                </div>
                <div class="mb-3">
                    <label class="form-label">
                        <span class="asterisk">*</span>E-mail osoby wysyłającej formularz
                        <input type="text" class="form-control" th:field="*{fromEmail}">
                    </label>
                    <p th:errors="*{fromEmail}" class="error">Błędny adres e-mail</p>
                </div>
                <div class="asterisk-container">
                    <span class="asterisk">*</span>
                    <p class="asterisk-text">pola oboiązkowe</p>
                </div>
                <button class="buttons" id="necrologyFormButton" type="submit">ZAMIEŚĆ</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>