<!DOCTYPE html>
<html lang="pl"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Błąd</title>
</head>
<body>
<main layout:fragment="content">
    <div class="main-page-container">
        <i class="fa-solid fa-bug fa-6x"></i>
        <br/>
        <br/>
        <div>
            <p>Wystąpił błąd :-(</p>
        </div>
        <br/>
        <br/>
        <div>
            <p>Wróć na stronę główną:</p>
        </div>
        <div>
            <a th:href="@{/}" href="/">>> STRONA GŁÓWNA <<</a>
        </div>
    </div>
</main>
</body>
</html>