<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Moderacja nekrologów</title>
</head>
<body>
<main layout:fragment="content">
    <div class="main-page-container">
        <div class="section-title">
            <p>Zapisane nekrologi</p>
            <hr>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Urodzony w</th>
                <th>Pogrzeb w</th>
                <th>Tytuł</th>
                <th>Szczegóły pogrzebu</th>
                <th>Dodatkowe informacje</th>
                <th>Usuń</th>
                <th>Edytuj</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="necrology : ${necrologies}">
                <td th:text="${necrology.id}">1</td>
                <td th:text="${necrology.placeOfOrigin}">Szczecin</td>
                <td th:text="${necrology.placeOfFuneral}">Warszawa</td>
                <td th:text="${necrology.title}">Lekarz, kompozytor</td>
                <td th:text="${necrology.funeralDetails}">Pogrzeb odbędzie się w kaplicy cmentarne.</td>
                <td th:text="${necrology.additionalInfo}">Prosimy nie przynosić zniczy.</td>
                <td>
                    <form th:action="@{|/administracja/moderacja/nekrologi/${necrology.id}/usun|}"
                          method="post">
                        <button>
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </form>
                </td>
                <td>
                    <form th:action="@{|/administracja/moderacja/nekrologi/${necrology.id}/edytuj|}"
                          method="post">
                        <button>
                            <i class="fa-solid fa-file-pen"></i>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>